.destaque-superior {
    width: 100%;
    height: 450px;
    background-image: url('../../../../assets/images/bg-superior-servicos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.box-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box-2,
.box-3,
.formulario-contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.box-2,
.formulario-contato {
    padding: 15px;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

.box-2 h2 {
    margin-top: 25px;
    color: white;
}


.formulario-contato p {
    width: 85%;
    text-align: justify;
    margin: 2% 0;
}

.box-2 {
    background-color: #01002F;

}

.box-4 {
    width: 100%;
    background-color: #01002F;
    display: grid;
    place-items: center;
    margin: 35px 0;

}



.img-card-beneficios {
    width: clamp(90px, 15%, 450px);
    height: 90px;
    margin: 35px auto;
    object-fit: cover;
}

.img-card-servicos {
    width: clamp(180px, 100%, 850px);
    height: 250px;
    object-fit: cover;

}

.banner-inferior {
    height: auto;
    background-image: url('../../../../assets/images/bg-inferior-servicos.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    object-fit: cover;
    padding: 4rem;
}

.titulo-amarelo {
    width: 55%;
    background: var(--amarelo);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
   font-weight: 700;
}


.titulo {
    text-align: left;
    font-size: 4rem;
    font-weight: 700;
}

.texto {
    width: 55%;
    text-align: left;
    font-size: 15px;
    color: white;
}


.formulario-contato mat-tab-group {
    width: 85%;
    height: auto;
    padding: 15px;

}


.formulario-contato mat-tab-group form {
    padding: 25px;
}


.double-width mat-form-field {
    width: calc(50% - 5px);
    margin-right: 5px;
}

.container-beneficios {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.container-servicos {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card-beneficios {
    width: clamp(180px, 15%, 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    text-align: center;
    box-shadow: none;
    font-size: 13px;
}

.card-servicos {
    box-shadow: none;
    width: clamp(150px, 35%, 250px);
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 1px solid rgba(167, 167, 167, 0.127);
    text-align: justify;
    overflow: hidden; /* oculta qualquer conteúdo que ultrapasse a largura do contêiner */
    text-overflow: ellipsis; /* exibe três pontinhos (...) para indicar que há mais conteúdo oculto */
}

.card-servicos p{
    font-size: 14px;
    white-space: pre-wrap;
    
}

.card-servicos:hover{
    height: auto;
    scale: 1.1;
    transition: 3s;
    z-index: 1000;
}

.responsivo {
    display: none;
}

.titulo-inferior {
    margin: 4% 0;
    text-align: center;
    letter-spacing: 8px;
    color: white;
}

.titulo-card {
    color: var(--azul);
    text-transform: uppercase;
    font-weight: bolder;
    margin: 10px 0;
}



swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
}

swiper-slide .card-servicos {
    display: block;
    width: 100%;
 
}


@media (max-width: 768px) {

    .destaque-superior{
        height: 250px;
    }

    .card-servicos {
        display: none;
    }

    

    .responsivo {
        display: block;
    }
    .responsivo .card-servicos{
        height: 480px;
    }

    .responsivo .card-servicos p{
        white-space: pre-wrap;
    }
    
 

    .double-width mat-form-field {
        width: 100%;
    }


    .destaque-superior .titulo{
        font-size: 3rem;
        text-align: center;
    }

    .titulo{
        font-size: 1.8rem;
    }

    .titulo-card{
        text-align: center;
    }
    
    .banner-inferior .texto, .banner-inferior .titulo-amarelo{
        width: 95%;
    }

    .banner-inferior{
        padding: 0;
    }

    .container-preto{
        width: 100%;
        height: 100%;
        background-color: #00000082;
        padding: 45px;
    }

}