.container {
    background-color: #01002F;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
}

.box {
    width: clamp(200px, 20%, 380px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.conteudo{
    text-align: left;
}
.titulo {
    color: var(--amarelo);
    font-weight: 700;
    white-space: pre-wrap;
  
}

.texto {
    color: white;
    font-size: small;
   
}


@media (max-width: 464px) {

    .box{
        width: clamp(150px, 20%, 380px);
        justify-content: flex-start;
    }
    .texto {
        display: none;
    }
}