main {
    text-align: center;
}


.capa {
    height: 25rem;
    background-image: url('../../../../assets/images/bg-superior.svg');
    background-position: center;
    margin-bottom: 5%;
}

.capa, span {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}


span {
    width: 55%;
    height: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.583);
    border: 3px solid white;

}


.container-cadastro {
    width: 45%;
    padding: 45px;
   
  
}

.container-cadastro, section:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.double-width  mat-form-field{
    width: 49%;
    margin-right: 5px;
   
}

section:nth-child(3) img {
    width: 10%;
    border-radius: 50%;
    border: 3px solid white;
    padding: 20px;
    margin-bottom: 15px;
   
}

section:nth-child(3){
    background-color: var(--azul);
    color: white;
    height: 13rem;
    padding: 0 15%;
}

.box-2 {
    padding-top: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 15px;

}

.container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    width: clamp(100px, 35%, 350px);
    height: 25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    text-align: justify;
    color: #8D8D8D;;
    border-radius: 14px;
}


.card mat-card-title {
    color:var(--azul);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.card:hover{
    border: 1px solid var(--azul);
    transform: scale(0.95);
    transition: 2s;
}
