<app-nav-bar></app-nav-bar>
<main>
    <section class="capa">
        <span>
            <h2>TRABALHE CONOSCO</h2>
        </span>
    </section>
    <section>
        <h3>Oportunidades Aguardando Você: Preencha o Formulário!</h3>
        <p>Faça parte do nosso banco de talentos! Preencha o formulário abaixo e envie seu currículo para se candidatar
        </p>
        <form action="#">
            <div class="container-cadastro">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nome Completo</mat-label>
                    <input matInput type="text" placeholder="Ex. Nougat">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" placeholder="Ex. exemple@exemple.com">
                </mat-form-field>
                <div class="double-width full-width">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input matInput type="tel" placeholder="(DDD) 0000-0000">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput type="date" placeholder="dd/MM/yyyy">
                    </mat-form-field>
                </div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Linkedin/Portifólio</mat-label>
                    <input matInput type="url" placeholder="Adicione o link aqui">
                </mat-form-field>
            </div>
   

            <div class="container-cadastro">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nome Completo</mat-label>
                    <input matInput type="text" placeholder="Ex. Nougat">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" placeholder="Ex. exemple@exemple.com">
                </mat-form-field>
                <div class="double-width full-width">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input matInput type="tel" placeholder="(DDD) 0000-0000">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput type="date" placeholder="dd/MM/yyyy">
                    </mat-form-field>
                </div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Linkedin/Portifólio</mat-label>
                    <input matInput type="url" placeholder="Adicione o link aqui">
                </mat-form-field>
            </div>

        </form>
    </section>
</main>