.destaque-superior {
    width: 100%;
    height: 450px;
    background-image: url('../../../../assets/images/bg-superior-servicos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.titulo-inferior {
    width: clamp(20px, 65%, 780px);
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 1.8rem;


}

.nome-instituicao {
    margin: 4% 0;
    text-align: center;
    letter-spacing: 8px;
    font-weight: 400;
}

.exterior{
    width: 100%;
    height:auto;
    background-color: #010031;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
}
.container-servicos {
    height: 100%;
    width: 83%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
   
    
}

.item {
    width: clamp(105px, 10%, 250px);;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto {
    margin: 4% 9.5%;
    text-align: justify;
}

.box {
    width: 100%;
    background-color: #01002F;
    display: grid;
    place-items: center;

}

.destaque-inferior {
    width: 100%;
    height: 15rem;
    background-image: url('../../../../assets/images/bg-inferior-quem-somos.jpg');
    background-size:cover;
    object-fit: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center start;
    padding-left: 45px;
    margin-bottom: 5%;
}



@media (max-width: 766px) {


    .destaque-superior{
        height: 250px;
    }

    .destaque-inferior {
        height: clamp(620px, 55%, 960px);
        padding: 45px;

    }

   

    .conteudo {
        width: 100%;
        height: 100%;
        background-color: #00000082;
     
        
    }

    .conteudo .titulo-inferior {
        width: 100%;
        font-size: 25px;
        text-align: left;
        line-height: 1.2em;
    }
}