<footer >
    <div class="footer-container">
        <section class="footer-info">
            <p>Inovar: Referência em serviços para Condomínios, Indústrias e mais. Destacamos seus negócios com nossa
                filosofia dinâmica.</p>
                <span title="Abrir no aplicativo"><mat-icon>call</mat-icon><a href="tel:+5511917791552">(11) 91779-1552</a></span>
                <span (click)="location()" title="Abrir no Google Maps"><mat-icon>location_on</mat-icon><a>R. Elísia Gonçalves Barcelos, 93 - Jardim Reimberg - SP</a></span>
                <span title="Abrir no aplicativo"><mat-icon>mail</mat-icon><a href="mailto:comercial@grupoinovarserv.com.br?subject = Feedback&body = Message">comercial@grupoinovarserv.com.br</a></span>
        </section>
        <section class="footer-social">
            <h4>REDES SOCIAIS</h4>
            <!-- Adicione aqui os ícones das redes sociais com as classes .footer-social-icon -->
        </section>
    </div>
    <p>copyright © {{ano}} | Grupo Inovar - Todos os Direitos Reservados</p>
</footer>