<footer>
    <div class="footer-container">
        <section class="footer-logo">
            <img src="../../../../assets/images/logo-monocromatica.png" alt="logo" width="150">
        </section>
        <section class="footer-info">
            <p>
                (11) 94031-5672 / (11) 94034-6312 <br>
                
            </p>
            <p>
                © Grupo Inovar: Todos os direitos reservados.
            </p>
   
        </section>
        <section class="footer-social">
            <h4>REDES SOCIAIS</h4>
            <div class="container-redes-sociais">
                <a href="#" target="_blank">
                    <img src="../../../../assets/images/icons/facebook-footer.png" alt="icone-facebook">
                </a>
                <a href="#" target="_blank">
                    <img src="../../../../assets/images/icons/linkedin-footer.png" alt="icone-linkedin">
                </a>
                <a href="#" target="_blank">
                    <img src="../../../../assets/images/icons/instagram-footer.png" alt="icone-instagram">
                </a>
            </div>

        </section>
    </div>

</footer>