<footer>
    <div class="footer-container">
        <section class="footer-logo">
            <img src="../../../../assets/images/isologo.png" alt="logo" width="150">
        </section>
        <section class="footer-info">
                <div class="container-redes-sociais">
                    <a routerLink="/contato" target="_blank">
                        <img src="../../../../assets/images/icons/linkedin-footer.png" alt="icone-linkedin" width="35">
                    </a>
                    <a routerLink="/contato" target="_blank">
                        <img src="../../../../assets/images/icons/facebook-footer.png" alt="icone-facebook"  width="35">
                    </a>
                   
                    <a routerLink="/contato" target="_blank">
                        <img src="../../../../assets/images/icons/instagram-footer.png" alt="icone-instagram" width="35">
                    </a>
                </div>
            <p>
                (11) 94031-5672 / (11) 94034-6312 <br>
                
            </p>
            <p>
                © Grupo Inovar 
            </p>
            <p>Todos os direitos reservados.</p>
   
        </section>
   
    </div>

</footer>