/* Container principal do footer */


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  /* Cor de fundo do footer */
  color: #181818;
  /* Cor do texto no footer */
}

.footer-logo {
  display: grid;
  place-items: center center;
}

.footer-info {
  flex: 1;
  height: 105px;
  display: grid;
  place-items: end center;
  padding-top: 33px;
  font-weight: bolder;
}

.footer-info p {
  margin-left: 30px;
}


/* Container da seção de redes sociais */
.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  /* margin: 50px 100px; */
  text-align: right;
}

/* Estilos para o título "REDE SOCIAIS" */
.footer-social h4 {
  font-size: 16px;
  margin-left: 5px;
}

.container-redes-sociais {
  display: flex;
}



@media (max-width: 672px) {

  .footer-containe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo,
  .footer-info,
  .footer-social,
  .container-redes-sociais {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 15px;

  }

  .footer-logo {
    order: 1;
  }

  .footer-info {
    order: 3;
  }

  .footer-social {
    order: 2;
  }
}