/* Container principal do footer */


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  /* Cor de fundo do footer */
  color: #181818;
  /* Cor do texto no footer */
}

.footer-logo {
  display: grid;
  place-items: center center;
}

.footer-info {
  flex: 2;
  height: auto;
  display: grid;
  place-items: center center;
  padding-top: 33px;
  font-weight: bolder;
  padding-right: 10%;
}

.footer-info p {
  color: var(--cinza);
  margin-left: 23px;
}


.container-redes-sociais {
  display: flex;
  padding-left: 28px;
  margin-bottom: 15px;
}

.container-redes-sociais img {
  margin: 8px;
}

@media (max-width: 672px) {

  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo,
  .footer-info,
  .container-redes-sociais {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 15px;

  }

  .footer-logo {
    order: 1;
  }

  .container-redes-sociais{
    padding: 0;
  }

  .footer-info {
    padding: 0;
    order: 3;
  }

 
}