<footer >
    <div class="footer-container">
        <section class="footer-info">
            <p>Inovar: Referência em serviços para Condomínios, Indústrias e mais. Destacamos seus negócios com nossa
                filosofia dinâmica.</p>
            <span><mat-icon>call</mat-icon>(11) 91779-1552</span>
            <span><mat-icon>location_on</mat-icon>R. Elísia Gonçalves Barcelos, 93 - Jardim Reimberg - SP</span>
            <span><mat-icon>mail</mat-icon>comercial@grupoinovarserv.com.br</span>
        </section>
        <section class="footer-social">
            <h4>REDES SOCIAIS</h4>
            <!-- Adicione aqui os ícones das redes sociais com as classes .footer-social-icon -->
        </section>
    </div>
    <p>copyright © 2023 | Grupo Inovar - Todos os Direitos Reservados</p>
</footer>