<app-nav-bar></app-nav-bar>

<main>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./../../../../assets/images/banner-01.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/images/banner-02.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/images/banner-03.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <section class="servicos-icones">
    <div *ngFor="let item of section">
      <img class="rotate-animation img-icone" [src]="item.img" alt="icone" [title]="item.titulo">
      <p class="texto-icone">{{item.titulo}}</p>
    </div>
  </section>

  <div class="container-principal">
    <section class="box-1">
      <div class="double-width">
        <p class="titulo-amarelo">TERCEIRIZAÇÃO DE SERVIÇOS</p>
        <h3 class="titulo">Excelência em <br> Prestação de Serviços</h3>
        <p class="texto">
          Somos a referência em serviços excepcionais para Condomínios Residenciais, Comerciais, Indústrias,
          Escritórios, Clínicas e muitos outros setores. <br><br>

          Nossa abordagem dinâmica coloca a excelência em primeiro lugar, elevando nossos parceiros à posição de
          destaque. <br><br>

          Descubra o poder da inovação e da excelência em serviço.
          Junte-se a nós e alcance o sucesso que você merece! <br><br>

          Grupo Inovar - A Sua Escolha Certa!

        </p>
      </div>

    </section>

    <section class="titulo-inferior">
      <p>GRUPO INOVAR</p>
      <h3>Serviços de Terceirização </h3>
    </section>

    <section class="box-2">
      <div class="container-servicos">
        <mat-card class="card-servicos" *ngFor="let servico of servicos">
          <mat-card-header>
            <img class="img-card" [src]="servico.img">
          </mat-card-header>
          <mat-card-title>
            <p class="titulo-card">{{servico.titulo}}

            </p>
          </mat-card-title>

        </mat-card>
    
      </div>
      <swiper-container class="mySwiper responsivo" pagination="true" effect="coverflow" grab-cursor="true"
      centered-slides="true" slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0"
      coverflow-effect-depth="100" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
      <swiper-slide *ngFor="let servico of servicos">
        <mat-card class="card-servicos">
          <mat-card-header>
            <img class="img-card-servicos" [src]="servico.img">
          </mat-card-header>
          <mat-card-title>
            <P class="titulo-card">{{servico.titulo}}</P>
          </mat-card-title>
        </mat-card>
      </swiper-slide>

    </swiper-container>
      <a routerLink="/servicos" class="btn-servicos">OUTROS SERVIÇOS
      </a>
    </section>
    <p class="texto-centro">
      O Grupo Inovar é hoje uma das mais tradicionais referências nas áreas de prestação de
      serviços
      para Condomínios Residenciais, Condomínios Comerciais, Indústrias, Escritórios, Clínicas e outros.
    </p>

    <section class="box-3">
      <div class="double-width">
        <h6 class="titulo">Potencialize seu Foco:</h6>
        <p class="titulo-amarelo">Soluções Sob Medida para Empresas e Condomínios</p>
        <p class="texto">Concentre-se em suas operações e explore nossas opções personalizadas, seja para empresas ou
          condomínios,
          para otimizar a eficácia e qualidade dos serviços.</p>

      </div>
    </section>

    <section class="box-4">
      <app-banner-contato></app-banner-contato>
    </section>

  </div>




</main>

<app-footer></app-footer>