<app-nav-bar></app-nav-bar>

<main>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./../../../../assets/images/banner-01.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/images/banner-02.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/images/banner-03.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../../assets/images/banner-04.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="servicos-icones">
    <div *ngFor="let item of section">
      <img class="rotate-animation" [src]="item.img" alt="" width="65">
      <p>{{item.titulo}}</p>
    </div>
  </section>

  <div class="container-principal">
    <section class="box-1">
      <img src="../../../../assets/images/logo.jpeg" alt="img-info" class="img-logo">
      <div class="double-width">
        <h3>Excelência em Prestação de Serviços: Inovar é a Referência</h3>
        <p>
          Inovar: Uma distinta referência na prestação de serviços para Condomínios Residenciais, Comerciais,
          Indústrias,
          Escritórios, Clínicas e outros setores. Nossa filosofia dinâmica visa a excelência, destacando nossos
          parceiros
          como líderes em seus serviços.
        </p>
      </div>

    </section>

    <h3 class="texto-com-linha">Serviços</h3>
    <section class="box-2">
      <div class="container-servicos">
        <mat-card class="card-servicos" *ngFor="let servico of servicos">
          <mat-card-header>
              <img class="img-card" [src]="servico.img">
          </mat-card-header>
          <mat-card-content>
              <p> {{servico.texto}}</p>
          </mat-card-content>
          <mat-card-actions>
              <button class="botao" routerLink="../contato">Orçamento</button>
          </mat-card-actions>
      </mat-card>
      


      </div>
    </section>


    <section class="box-3">
      <div class="double-width">
        <h6>Potencialize seu Foco: Soluções Sob Medida para Empresas e Condomínios</h6>
        <p>Concentre-se em suas operações e explore nossas opções personalizadas, seja para empresas ou condomínios,
          para otimizar a eficácia e qualidade dos serviços.</p>
        <a routerLink="../servicos">Saiba Mais...</a>
      </div>
      <div class="double-width">
        <p class="texto-apresentacao">
          A Inovar é hoje uma das mais tradicionais referências nas áreas de prestação de
          serviços para Condomínios Residenciais, Condomínios Comerciais, Indústrias, Escritórios, Clínicas e outros.
          Através de uma filosofia dinâmica, nosso objetivo é fazer com que nossos parceiros se destaquem em seus
          serviços
        </p>
      </div>
    </section>
  </div>


</main>

<app-footer></app-footer>