.servicos-icones {
    height: 35%;
    background-color: var(--cinza);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}


.servicos-icones div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(150px, 50%, 180px);
    height: 50%;
    margin: 10px;
    color: var(--azul);


}

.container-principal, .box-1 {
    padding-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-card {
    width: 150px;
}


.double-width {
    width: 55%;
}

.card-servicos {
    width: 20%;
}


