<header>
    <section class="header-top">
        <section class="container-contato">
            <span><mat-icon>call</mat-icon>(11) 91779-1552</span>
            <span><mat-icon>location_on</mat-icon>R. Elísia Gonçalves Barcelos, 93 - Jardim Reimberg - SP</span>
            <span><mat-icon>mail</mat-icon>comercial@grupoinovarserv.com.br</span>
        </section>

        <span><mat-icon>person</mat-icon><a routerLink="../trabalhe-conosco">Trabalhe Conosco</a></span>

        <span>
            <a href="#" target="_blank">
                <img src="../../../../assets/images/icons/instagram.png" alt="icone-whatsapp">
            </a>
            <a href="#" target="_blank">
                <img src="../../../../assets/images/icons/linkedin.png" alt="icone-linkedin">
            </a>
            <a href="#" target="_blank">
                <img src="../../../../assets/images/icons/facebook.png" alt="icone-facebook">
            </a>

            <a href="https://api.whatsapp.com/send?phone=5511917791552" target="_blank">
                <img src="../../../../assets/images/icons/whatsapp.png" alt="icone-whatsapp">
            </a>

        </span>
    </section>
    <section class="header-main">
        <img src="../../../../assets/images/logo.jpeg" alt="logo" width="100">
        <span class="container-link">
            <a routerLink="../home" routerLinkActive="active">Home</a>
            <a routerLink="../servicos" routerLinkActive="active">Serviços</a>
            <a routerLink="../contato" routerLinkActive="active">Contato</a>
            <a routerLink="../contato" class="btn-orcamento">Orçamentos</a>
        </span>
    </section>
    
</header>