<app-nav-bar></app-nav-bar>
<main>
    <div class="destaque-superior">
        <h2 class="titulo">Contato</h2>
    </div>
    <section class="container-header">
        <div class="double-width-1">
            <span><mat-icon>map</mat-icon>Endereço: R. Elísia Gonçalves Barcelos, 93 - Jardim Reimberg – SP</span>
            <span><mat-icon>call</mat-icon>Telefone: +55 11 91779-1552 | +55 11 95784-8787 </span>
            <span><mat-icon>mail</mat-icon>E-mail: comercial@grupoinovarserv.com.br</span>
            <div class="map">
                <iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=pt&amp;q=R.%20El%C3%ADsia%20Gon%C3%A7alves%20Barcelos,%2093%20-%20Jardim%20Reimberg%20%E2%80%93%20SP+(GRUPO%20INOVAR)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/golf-gps/">golf watches</a>
                </iframe>
            </div>
        </div>
        <div class="double-width-1">
            <h4>
                ENVIE SUA MENSAGEM

            </h4>
            <p>
                Este é um canal exclusivo de atendimento para nossos Clientes. <br><br>

                Envie suas dúvidas, sugestões ou reclamações.

            </p>
            <form #formulario_1 action="https://formsubmit.co/operacional@grupoinovarserv.com.br" method="POST">
                <div class="container-cadastro">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label for="nome">Nome Completo</mat-label>
                        <input matInput type="text" name="Nome" placeholder="Ex. Nougat" required>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" name="E-mail" placeholder="Ex. exemple@exemple.com" required>
                    </mat-form-field>
                    <div class="full-width double-width">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Telefone</mat-label>
                            <input matInput type="tel" name="Telefone" placeholder="(DDD) 0000-0000" required>
                        </mat-form-field>
                        <input type="hidden" name="Assunto" [value]="assunto.value">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Assunto</mat-label>
                            <mat-select type="text" #assunto name="Assunto" placeholder="E. Elogio" required>
                                <mat-option value="Orçamento">Orçamento</mat-option>
                                <mat-option value="Dúvida">Dúvida</mat-option>
                                <mat-option value="Elogio">Elogio</mat-option>
                                <mat-option value="Reclamação">Reclamação</mat-option>
                                <mat-option value="Reclamação">Sugestão</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mensagem</mat-label>
                        <textarea matInput #input name="Mensagem" maxlength="1000" placeholder="Ex. Breve mensagem..."
                            required></textarea>
                        <mat-hint align="end">{{input.value.length}}/1000</mat-hint>
                    </mat-form-field>
                    <input type="hidden" name="_next" [value]="url_Agradecimento">
                    <input type="hidden" name="_template" value="table">
                    <input type="hidden" name="_captcha" value="false">
                    <input type="hidden" name="_autoresponse"
                        value="Sua mensagem foi recebida! Responderemos o mais breve possível.">
                    <button class="full-width" type="submit" [disabled]="!isFormValid(formulario_1)" mat-raised-button
                        color="primary">ENVIAR</button>
                </div>
            </form>
        </div>
    </section>

    <section class="box-2">
        <a href="https://api.whatsapp.com/send?phone=5511917791552" target="_blank"
            title="Fale direto no whatsapp 📞📲">
            <img src="../../../../assets/images/consultores.png" alt="consultores-icon">
            <h3>FALE COM UM DE NOSSOS CONSULTORES</h3>
        </a>
    </section>


    <section class="box-4">
        <h3>Dúvidas e perguntas frequentes?</h3>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
                <h2 class="accordion-header" [id]="'heading' + i">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.aria-controls]="'collapse' + i" [attr.data-bs-target]="'#collapse' + i">
                        {{faq.pergunta}}
                    </button>
                </h2>
                <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>{{faq.resposta}}</p>
                    </div>
                </div>
            </div>
        </div>




    </section>
    <section class="box">
        <app-banner-contato></app-banner-contato>
    </section>
</main>

<app-footer></app-footer>