.destaque-superior {
    width: 100%;
    height: 450px;
    background-image: url('../../../../assets/images/bg-superior-servicos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.box{
    width: 100%;
    background-color: #01002F;
    display: grid;
    place-items: center;
 
}


.texto-superior{
    margin: 0 auto;
    width: clamp(350px, 88%, 1250px);
    padding: 20px;
    text-align: center;
}


.texto-superior, .formulario-contato{
    display: grid;
    place-items: center;
}



.formulario-contato mat-tab-group {
    width: 85%;
    height: auto;
    padding: 15px;

}


.formulario-contato mat-tab-group form {
    padding: 25px;
}


.container-beneficios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.card-beneficios {
    background-image: linear-gradient(to bottom, var(--azul), var(--azul));
    background-size: 100% 0;
    /* O gradiente começa sem altura (0) */
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
    /* Adiciona uma transição suave à animação */
    width: clamp(250px, 30%, 320px);
    height: 23rem;
    margin: 10px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    transition: background-size 0.5s ease;
    border-top: 2px solid var(--azul);
    border-bottom: 2px solid var(--azul);
    padding: 20px;
}

.card-beneficios img {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.card-beneficios:hover {
    background-image: linear-gradient(to bottom, var(--azul), var(--azul));
    background-size: 100% 100%;
    /* O gradiente cobre todo o fundo de cima para baixo durante o hover */
    color: white;
}

.card-beneficios mat-card-title{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--azul);
}


.titulo-meio {
    margin: 4% 0;
    text-align: center;
    letter-spacing: 8px;
    
}

.banner-meio {
    background-image: url('../../../../assets/images/bg-meio-orcamento.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25rem;
   display: grid;
   place-items: center end;
    
}

.conteudo{
    width: 55%;
}
.banner-meio .titulo{
    width: 85%;
    font-size: 2.8rem;
    text-align: left;
}

.responsivo {
    display: none;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
}

swiper-slide .card-beneficios {
    display: block;
    width: 100%;
 
}


@media (max-width: 902px){
    .conteudo{
        background-color: #00000082;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }


    .banner-meio .titulo{
        text-align: left;
        line-height: 1.2em;
    }
}

@media (max-width: 768px){

    .destaque-superior{
        height: 250px;
    }

    .container-beneficios {
        display: none;
    }


    .responsivo {
        display: block;
    }
    .responsivo .card-beneficios{
        justify-content: center;
        height: 480px;
    }

    .responsivo .card-beneficios p{
        white-space: pre-wrap;
        
    }

    .responsivo .card-beneficios mat-card-title{
        text-align: center;
    }


    

}