<app-nav-bar></app-nav-bar>
<main>
    <div class="container-texto">
        <h2>Agradecemos pelo seu Contato! </h2>
        <p>
            Agradecemos por nos escolher! Sua mensagem foi recebida com sucesso. Estamos trabalhando diligentemente para processar suas informações e responderemos o mais rápido possível. <br><br>
            Fale com um dos nossos consultores no WhatsApp! Clique no botão abaixo para iniciar uma conversa e descubra como podemos atender às suas necessidades de forma personalizada.
        </p>

        <a href="https://api.whatsapp.com/send?phone=5511917791552" class="whatsapp" target="_blank">Fale Conosco no Whatsapp</a>
    </div>

</main>
<app-footer></app-footer>