/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul: #010080;
    --azul-claro: rgb(0, 176, 240);
    --cinza: #E8E5F6;
    --amarelo: #FCC00A;
    --verde: rgb(0, 176, 80)
}
html, body {width: 100%; height: auto;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.full-width {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: white;
}

a:link:hover{
    text-decoration: underline;
    
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: float 2s infinite;
}

.whatsapp-button a img {
    width: 60px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 60px; /* Ajuste o tamanho do ícone conforme necessário */
    border: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-button::before {
    content: 'Olá! Eu sou a Ivone! Como posso te ajudar?';
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--amarelo);
    word-wrap: break-word; /* Quebra o texto em palavras */
    font-weight: 600;
    ;
}


@keyframes float {
    0%, 100% {
      transform: translateY(0); /* Não se move na vertical no início ou no final */
    }
    50% {
      transform: translateY(-15px); /* Move para cima 15 pixels no meio da animação */
    }
  }